{% extends "base_auth.html" %}

{% block title %}Регистрация - Nookly{% endblock %}
{% block subtitle %}Создайте аккаунт, чтобы продолжить{% endblock %}

{% block content %}
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Придумайте никнейм" required>
    <input type="password" name="password" placeholder="Придумайте пароль" required>
    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}

{% block footer %}
    Уже в Nookly? <a href="/login">Войти</a>
{% endblock %}